# Løsninger dag 1
## Oppgave 1 - kom i gang
#### a) Hva er produkt av 4499 og 35?

In [ ]:
4499 * 35

#### b) Lage et objekt med navnet ditt og skriv det ut

In [ ]:
susie <- "Susie Jentoft"
susie

#### c) Slå opp hjelpfilen for funksjonen nchar

In [ ]:
?nchar

#### d) Bruk funksjonen nchar for å se hvor mange bokstaver navnet ditt innholder

In [ ]:
nchar(susie)

#### e) Lage en vektor som inneholder 10 tall. Kalle listen antall_ansatte

In [ ]:
antall_ansatte <- c(4, 20, 33, 2739, 23, 7, 32, 12, 17, 21)

#### f) Sjekk lengde av antall_ansatte med funksjonen length()

In [ ]:
length(antall_ansatte)

#### g) Skrive en test/logisk setning for å se hvilken i listen antall_ansatte er mindre enn 5

In [ ]:
antall_ansatte < 5

#### h) Skrive en test for å se om nummer 9 er i listen antall_ansatte

In [ ]:
9 %in% antall_ansatte

## Oppgave 2 - datasett
#### a) Hent inn biblioteket tidyverse

In [ ]:
library(tidyverse)

#### b) Les inn datasett ytelser som ligger på felles/veiledning/r/eksempler/. Lage det som en vanlig R dataframe.

In [ ]:
df <- spark.read.path("/felles/veiledning/r/eksempler/ytelser")
df <- as.data.frame(df)

#### c) Ser på datasett. Hvor mange variabler har det? Hva slags variabel er kommune_nr_navn?

In [ ]:
glimpse(df)

#### d) Hva er gjennomsnittsverdi av variabel utbetalt_mill_kr?

In [ ]:
summary(df)

#### e) Les inn datasett som heter befolkning.csv i data mappe

In [ ]:
befolkning <- read_csv2("../data/befolkning.csv")
head(befolkning)

#### f) Lagre befolkning datasett som en spark datasett og lagre det med en unique navn under felles/veiledning/r/eksempler

In [ ]:
befolkning_spark <- as.DataFrame(befolkning)
spark.write.path(befolkning_spark, "/felles/veiledning/r/eksempler/befolkning_susie", valuation = "INTERNAL", state = "INPUT")